<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  <link rel="stylesheet" href="../css/index.css">
  <script src="../js/index.js"></script>
  <title>BKVMUN'22</title>

</head>

<body>



  <div class="container">
    <div id="abc">
      <nav>
        <ul>
          <li><a href="#">Committees</a></li>
          <li><a href="#">Conference</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
    </div>
    <img src="../img/logo.png" alt="Girl in a jacket" width="500" height="500">
    <h1 id="headline">BKVMUN'22</h1>
    <div id="countdown">
      <ul>
        <li><span id="days"></span>days</li>
        <li><span id="hours"></span>Hours</li>
        <li><span id="minutes"></span>Minutes</li>
        <li><span id="seconds"></span>Seconds</li>
      </ul>
    </div>
    <hr />
    </br>
    <h1 id="headline">Welcome Letter</h1>
    </br>
    <p><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's</span><span>standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a</span><span>type specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting,</span><span> remaining essentially unchanged. It was popularised in the 1960s
        with the release of Letraset sheets containing</span><span>Lorem Ipsum passages, and more recently with desktop
        publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.</span></br>
      BKVMUN Team
    </p>
  </div>



</body>

</html>